<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>boolfix</title>
</head>
<body>
    
    <div id="root">
        <div>
            <input type="text" v-model="search" name="" id="">
            <button @click="searchFilm">cerca</button>
        </div>
        <ul>
            <li v-for="movie in result">
                {{movie.title}}
                <br> 
                <span v-if="movie.title != movie.original_title">{{movie.original_title}}<br></span>
                {{movie.original_language}}
                <br> 
                {{movie.vote_average}}
                <br>
                <!-- <img src="movie.backdrop_path" alt="">  -->
            </li>
        </ul>
    </div>
    
    <!-- <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> -->
    <script src="js/script.js"></script>
</body>
</html>