<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>boolfix</title>
</head>
<body>
    
    <div id="root">

        <div>
            <input v-on:keyup.enter="find" type="text" v-model="search" name="" id="">
            <button @click="find">film</button>

        </div>
        <ul>
            <li v-for="movie in resultfilm">
                <span>
                    titolo: {{movie.title}}
                </span>

                <br> 

                <span v-if="movie.title != movie.original_title">
                    titolo originale: {{movie.original_title}}
                    <br>
                </span>

                <span>
                    lingua originale: {{movie.original_language}} 
                </span>

                <div class="flag">
                    <img :src="'img/' + movie.original_language + '.svg'" alt="">
                </div>

                <br> 

                <span>voto: {{movie.vote_average}} /10</span>
                
                <br>
               
                <img :src="'https://image.tmdb.org/t/p/w185' + movie.poster_path" alt=""> 
            </li>
        </ul>
        
        <ul>
            <li v-for="movie in resultSeries">
                <span>
                    titolo: {{movie.title}}
                </span>

                <br> 

                <span v-if="movie.title != movie.original_title">
                    titolo originale: {{movie.original_title}}
                    <br>
                </span>

                <span>
                    lingua originale: {{movie.original_language}} 
                </span>

                <div class="flag">
                    <img :src="'img/' + movie.original_language + '.svg'" alt="">
                </div>

                <br> 

                <span>voto: {{movie.vote_average}} /10</span>
                
                <br>
               
                <img :src="'https://image.tmdb.org/t/p/w185' + movie.poster_path" alt=""> 
            </li>
        </ul>
    </div>
    
    <!-- <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> -->
    <script src="js/script.js"></script>
</body>
</html>