<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>boolfix</title>
</head>
<body>
    
    <div id="root">

        <header>
            <div class="boolflix">
                <img src="https://fontmeme.com/permalink/210430/0a43aa36584f2895324a0006b42b5d1a.png" alt="">
            </div>
            <div>
                <label for="search">search film:</label>
                <input v-on:keyup.enter="searchMulti" type="text" v-model="search" name="" id="search">
            <!-- <button @click="searchMulti">film</button> -->
            </div>
        </header>
        
        <div class="wrapper">

            <div  v-for="movie in resultMulti" class="film">
                <!-- immagine di copertina -->
                <img class="poster" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">
                <!-- fine immagine di copertina -->

                <div class="info">
                        <!-- titolo film -->
                    <div>
                        titolo: {{movie.title}}
                    </div>
                    <!-- fine titolo film -->

                    <!-- titolo originale -->
                    <div v-if="movie.title != movie.original_title">
                        titolo originale: {{movie.original_title}}
                    </div>
                    <!-- fine titolo originale -->

                    <!-- lingua -->
                    <div>
                        lingua originale: {{movie.original_language}}
                    </div>
                    <!-- fine lingua -->

                    <!-- nazione -->
                    <div class="flag">
                        <img :src="'img/' + movie.original_language + '.svg'" alt="">
                    </div>
                    <!-- fine nazione -->

                    <!-- voto -->
                    <div>
                        <i v-for="numb in getVote(movie.vote_average)" class="fas fa-star"></i>
                    </div>
                    <!-- fine voto -->

                    <!-- overview -->
                    <div>
                        overview: {{movie.overview}}
                    </div>
                    <!-- fine overview -->
                </div>

            </div>

        </div>

    </div>
    
    <!-- <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> -->
    <script src="js/script.js"></script>
</body>
</html>